<section class="lgn_box">
    <div class="lgn_emts">
        <div class="lgn_img isTab">
            <img src="/images/jobPage.png" alt="job page" class="lgn_sp_img">
        </div>
        <div class="lgn_cnt">
            <h1 class="lgn_tlt">Add a Job</h1>

            <form action="/add-job" method="post">
                <div class="form_emts">
                    <label class="up_lbl"  for="company_name">Company Name</label>
                    <input class="form_ip_emts" type="text" name="company_name" id="company_name">
                    <label class= "up_lbl" for="position">Position</label>
                    <input class="form_ip_emts" type="text" name="position" id="position">
                    <label class= "up_lbl" for="location">Location</label>
                    <input class="form_ip_emts" type="text" name="location" id="location">
                    <label class= "up_lbl" for="salary_from">Salary From</label>
                    <input class="form_ip_emts" type="text" name="salary_from" id="salary_from">
                    <label class= "up_lbl" for="salary_to">Salary To</label>
                    <input class="form_ip_emts" type="text" name="salary_to" id="salary_to">

                    <button type="submit" class="hm_desp_btn sub_btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>