<section>
    <div class="hm_sec">
        <div class="hm_desp">
            <h1 class="hm_desp_hd">Your <span class="hm_desp_hl">Passion</span> Begins <br> Here!!!</h1>
    
            <p class="hm_desp_cnt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis nisi corrupti iure officia dolore.</p>
    
            <a href="jobs"><button class="hm_desp_btn">
                <span class="hm_desp_btn_txt">Let's Go</span>
                <span><i class="fa-solid fa-arrow-right"></i></span>
            </button></a>
        </div>
        <div class="hm_img">
            <img src="/images/homeBg.png" alt="home-image" class="hm_img_vw">
        </div>
    </div>
    
    <div class="hm_spt_cmpy">
        <h2 class="hm_spt_cmpy_hd">Supported by the <br> <span class="hm_spt_cmpy_lt">Top Company</span></h2>

        <div class="hm_spt_cmpies">
            <img src="/images/svgs/glossy.svg" alt="glossy.svg" class="cmpies_list">
            <img src="/images/svgs/pinpoint.svg" alt="pinpoint.svg" class="cmpies_list">
            <img src="/images/svgs/product.svg" alt="product.svg" class="cmpies_list">
            <img src="/images/svgs/terra.svg" alt="terra.svg" class="cmpies_list">
        </div>
    </div>  
</section>