<section class="lgn_box">
    <div class="lgn_emts">
        <div class="lgn_img isTab">
            <img src="/images/jobPage.png" alt="job page" class="lgn_sp_img">
        </div>
        <div class="lgn_cnt">
            <h1 class="lgn_tlt">Register</h1>

            <form action="/registerUser" method="post">
                <div class="form_emts">
                    <input type="text" name="name" id="name" class="form_ip_emts" placeholder="name" required>
                    <input type="email" name="email" id="email" class="form_ip_emts" placeholder="email" required>
                    <input type="password" name="password" id="password" class="form_ip_emts" placeholder="password" required>

                    <button class="hm_desp_btn sub_btn">Submit</button>
                </div>
            </form>
            <a href="/login" class="reg_lk">
                Login?
            </a>

        </div>
        
    </div>
</section>